.github-logo {
  background-image: url("../images/GitHub-Mark-Light-120px-plus.png");
  background-size: contain;
}

dt:target, span.highlighted {
  background: #F7F7F7 !important;
}

code {
  color: #00C09D !important;
}

a.reference {
  color: #3498DB !important;
}

.previews-container .row {
  display: flex;
  overflow-x: auto;
}

.previews-container .row .card {
  width: 200px;
  margin: 5px;
}